// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


$level_margin_step: 15px;


.level-1{
    margin-left: $level_margin_step;
}
.level-2{
    margin-left: 2 * $level_margin_step;
}
.level-3{
    margin-left: 3 * $level_margin_step;
}
.level-4{
    margin-left: 4 * $level_margin_step;
}
.level-5{
    margin-left: 5 * $level_margin_step;
}


.tox-notification.tox-notification--in.tox-notification--warning{
    display: none;
}
